* {
    padding: 0;
    margin: 0;
}
body{
    background: #8492AE;
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: 230px auto;
    grid-template-rows: 13vh minmax(87vh, auto);
    grid-template-areas: 
    'header header'
    'menu main';
    font-family: 'Montserrat', sans-serif;
}

menu{
    grid-area: menu;
    background: linear-gradient(0deg, rgba(158,158,158,1) 85%, rgba(132,146,174,1) 100%); 
}

header{
    grid-area: header;
    background-color: #8492AE ;
}

main{
    border-top-left-radius: 15px;
    grid-area: main;
    background-color: #EBEBEB;
}

#hleft{
    text-align: left;
    margin-left: 10px;
    margin-top: 10px;
    font-size: 110%;
    font-weight: bold;
}

#bhleft{
    text-align: left;
    margin-left: 85px;
    margin-top: 2px;
    font-size: 80%;
    font-weight: lighter;
}

#plus{
    width: 15px;
    height: auto;
    margin-left: 50px;
}

#addlist{
    margin-top: 200%;
    margin-left: 10px;
    position: fixed;
    bottom: 10px;

}

#plus:hover{
    -webkit-transform: scale(1.5,1.5);
    -webkit-transition: all 0.3s ease-in-out;
}

#elemente{
    margin-top: 70px;
}

.liste{
    /*
    background: #6B6B6B;
    border-radius: 15px;
    margin: 10px;
    padding: 10px;*/
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-color: #6B6B6B;
    border-bottom-color: #6B6B6B;
    border-width: 1.5px;
    padding: 10px; 
    margin-right: 20px;
}

.liste:hover{
    opacity: 1;
    background-color: #8492AE;
}

.liste:focus{
    margin-right: 0;
    background: blue;

}

