* {
    padding: 0;
    margin: 0;
}
body{
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: 230px auto;
    grid-template-rows: 15vh minmax(85vh, auto);
    grid-template-areas: 
    'header header'
    'menu main';
    font-family: 'Montserrat', sans-serif;
}

menu{
    grid-area: menu;
    background-color: #6B6B6B;
}

header{
    grid-area: header;
    background-color: #8492AE ;
}

main{
    grid-area: main;
    background-color: #EBEBEB;
}

#hleft{
    text-align: left;
    margin-left: 10px;
    margin-top: 10px;
    font-size: 110%;
    font-weight: bold;
}

#bhleft{
    text-align: left;
    margin-left: 85px;
    margin-top: 2px;
    font-size: 80%;
    font-weight: lighter;
}

#plus{
    width: 15px;
    height: auto;
    margin-left: 50px;
}

#addlist{
    margin-top: 200%;
    vertical-align: bottom;
    margin-left:10px;
}

#plus:hover{
    -webkit-transform: scale(1.5,1.5);
    -webkit-transition: all 0.3s ease-in-out;
}